apache-airflow==2.6.3
docker_py==1.10.6
elasticsearch==8.8.0
fastapi==0.100.1
fire==0.5.0
pandas==2.0.3
passlib==1.7.4
pendulum==2.1.2
plotly==5.15.0
pydantic
python-dotenv==1.0.0
pytz==2023.3
Requests==2.31.0
dash==2.11.1
